@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  color-scheme: light;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}
